@model  Core.Entities.ResultViewModel
     


@if (Model.Errors.Any())
{
    foreach (var error in Model.Errors)
    {
        <div class="alert alert-warning" role="alert">
            Message     : @error.ErrorMessage
            <br /> 
            Status Code : @error.StatusCode
            
        </div>
        <div class="row">
            @Html.ActionLink("You can click this link to try again","Index","Sender")
        </div>
    }
}
else
{
    <div class="card">
        <h5 class="card-title">Decrypted data returned from API</h5>
        <div class="card-body">
            <div id="divResult"></div>
            
            <div>
                @Model.Data
            </div>
            
            <script>
                
                console.log(@Model.Data);

                var result = null;
                
                try {
                    var json = JSON.parse("data : { @Model.Data } ");
                    console.log(json);
                    result = JSONTree.create(json);
                } catch (e) {
                    console.log(e.error);
                }
                
    
                document.getElementById("divResult").innerHTML = result;
            </script>
            
        </div>
    </div>
}